@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-icon {
  background-image: url("/moon3.svg");
}

.card-animation {
  trnasition-property: transform;
  trnasition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.card-animation:hover {
  transform: scale(1.05);
}

input:checked + .bg-icon {
  background-image: url("/sun3.svg");
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px #bddae0;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #bddae0;
}

input::-webkit-input-placeholder {
  font-size: 13px;
}
